<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youke.dao.AddressMapper">
  <resultMap id="BaseResultMap" type="com.youke.entity.Address">
    <!--@Table address-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="address_detail" jdbcType="VARCHAR" property="addressDetail" />
    <result column="receiver" jdbcType="VARCHAR" property="receiver" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, `type`, area, address_detail, receiver, phone, create_time, update_time, 
    `status`
  </sql>
</mapper>