<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youke.dao.BackgroundMenuMapper">

    <resultMap id="BaseResultMap" type="com.youke.entity.BackgroundMenu" >
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="index" property="index" />
        <result column="title" property="title" />
        <result column="icon" property="icon" />
        <result column="path" property="path" />
        <result column="weight" property="weight" />
    </resultMap>

    <select id="listMneu" resultMap="BaseResultMap">
        SELECT b.*
        FROM
        backgroud_menu_rel_role AS a
        LEFT JOIN backgroud_menu AS b ON a.b_menu_id=b.id
        WHERE
        a.b_user_role_id=#{roleId,jdbcType=INTEGER}
    </select>

</mapper>