<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youke.dao.CbhbDao">
    <resultMap id="BaseResultMap" type="java.util.HashMap">

        <id column="id" property="id" />
        <result column="acctNo" property="acctNo" />
        <result column="acctType" property="acctType" />
        <result column="ccy" property="ccy" />
        <result column="bal2" property="bal2" />
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap" >
        select * from  iiccss
    </select>


</mapper>