<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youke.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.youke.entity.Order">
    <!--@mbg.generated-->
    <!--@Table `order`-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_no" jdbcType="INTEGER" property="orderNo" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
    <result column="transaction_id" jdbcType="VARCHAR" property="transactionId" />
    <result column="nonce_str" jdbcType="VARCHAR" property="nonceStr" />
    <result column="out_trade_no" jdbcType="VARCHAR" property="outTradeNo" />
    <result column="pay_status" jdbcType="INTEGER" property="payStatus" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
    <result column="coupon_id" jdbcType="INTEGER" property="couponId" />
    <result column="coupon_flag" jdbcType="INTEGER" property="couponFlag" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="pay_time" jdbcType="VARCHAR" property="payTime" />
    <result column="send_time" jdbcType="VARCHAR" property="sendTime" />

    <collection property="orderDetails" ofType="com.youke.entity.OrderDetail" javaType="java.util.ArrayList">
      <id column="did" jdbcType="INTEGER" property="id" />
      <result column="order_id" jdbcType="INTEGER" property="orderId" />
      <result column="products_id" jdbcType="INTEGER" property="productsId" />
      <result column="stocks_id" jdbcType="INTEGER" property="stocksId" />
      <result column="products_name" jdbcType="VARCHAR" property="productsName" />
      <result column="major_picture" jdbcType="VARCHAR" property="majorPicture" />
      <result column="number" jdbcType="INTEGER" property="number" />
      <result column="price" jdbcType="DECIMAL" property="price" />
      <result column="attr_opt_content" jdbcType="VARCHAR" property="attrOptContent" />
    </collection>

  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, order_no, user_id, total_price, transaction_id, nonce_str, out_trade_no, pay_status, 
    order_status, coupon_id, coupon_flag, create_time, update_time, `status`
  </sql>

    <select id="listOrderPagingByShopsId" resultMap="BaseResultMap">
    SELECT *
    FROM
        `order`
    WHERE
        shops_id=#{shopsId,jdbcType=INTEGER}
      AND
      status="0"
      <if test="orderNo != null and orderNo != ''">
        AND order_no LIKE  concat('%',#{orderNo,jdbcType=VARCHAR},'%')
      </if>
    </select>
</mapper>
