<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youke.dao.ProductsEvaluateMapper">
  <resultMap id="BaseResultMap" type="com.youke.entity.ProductsEvaluate">
    <!--@mbg.generated-->
    <!--@Table products_evaluate-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shops_id" jdbcType="INTEGER" property="shopsId" />
    <result column="products_id" jdbcType="INTEGER" property="productsId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="backgroud_user_id" jdbcType="INTEGER" property="backgroudUserId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="pass" jdbcType="INTEGER" property="pass" />
    <result column="pass_type" jdbcType="INTEGER" property="passType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="OTHER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, shops_id, products_id, user_id, backgroud_user_id, content, pass, pass_type, 
    create_time, update_time, `status`
  </sql>
</mapper>