<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youke.dao.ProductsOptionsMapper">
  <resultMap id="BaseResultMap" type="com.youke.entity.ProductsOptions">
    <!--@mbg.generated-->
    <!--@Table products_options-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="products_id" jdbcType="INTEGER" property="productsId" />
    <result column="option_name" jdbcType="VARCHAR" property="optionName" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, products_id, option_name, create_time, update_time, `status`
  </sql>
</mapper>