<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youke.dao.ShopsFeeOrderMapper">
  <resultMap id="BaseResultMap" type="com.youke.entity.ShopsFeeOrder">
    <!--@mbg.generated-->
    <!--@Table shops_fee_order-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="shops_fee_no" jdbcType="INTEGER" property="shopsFeeNo" />
    <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
    <result column="transaction_id" jdbcType="VARCHAR" property="transactionId" />
    <result column="nonce_str" jdbcType="VARCHAR" property="nonceStr" />
    <result column="out_trade_no" jdbcType="VARCHAR" property="outTradeNo" />
    <result column="fee_pay_status" jdbcType="INTEGER" property="feePayStatus" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
      <result column="industry_name_list" jdbcType="VARCHAR" property="industryNameList" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />

  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, shop_id, shops_fee_no, total_price, transaction_id, nonce_str, out_trade_no, 
    fee_pay_status, create_time, update_time
  </sql>
    <select id="listShopsFeeOrderpangingByShopsId" resultMap="BaseResultMap">
        SELECT *
        FROM shops_fee_order
        WHERE
        status="true"
        <if test="shopsId != null" >
        AND
        shop_id=#{shopsId}
        </if>
    </select>
</mapper>