<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youke.dao.ShoppingCatsMapper">
  <resultMap id="BaseResultMap" type="com.youke.entity.ShoppingCats">
    <!--@mbg.generated-->
    <!--@Table shopping_cats-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="products_id" jdbcType="INTEGER" property="productsId" />
    <result column="products_stocks_id" jdbcType="INTEGER" property="productsStocksId" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="OTHER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, products_id, products_stocks_id, `number`, create_time, update_time, `status`
  </sql>

    <delete id="deleteBatchShoppingCats" parameterType = "java.util.List">
        DELETE FROM shopping_cats where id IN
        <foreach  collection="list"  item="item" open="(" separator="," close=")">
          #{item.id,jdbcType=INTEGER}
        </foreach>
    </delete>

    <select id="listOption" resultType="com.youke.vo.ResqOptionsVO">
      SELECT b.option_name,b.id
      FROM  products_options_rel_stocks AS a
      LEFT JOIN products_options AS b ON a.option_id=b.id
      WHERE
      a.stock_id=#{productsStocksId,jdbcType=INTEGER}
    </select>
</mapper>